<template>
  <div id="test-phase">
    <ControlCircle class="test-control" />
    <Narrator class="test-narrator" />
    <transition name="fade" mode="out-in">
      <TestButton v-if="testButtonVisibility" animate="infinite" class="test-button" />
    </transition>
    <Audio />
  </div>
</template>

<script>
import ControlCircle from '@/components/Test/Additional/ControlCircle.vue'
import Narrator from '@/components/Test/Additional/Narrator.vue'
import TestButton from '@/components/Test/Additional/TestButton.vue'
import Audio from '@/components/Test/Additional/Audio.vue'

export default {
  name: 'TestPhaseStart',
  components: {
    ControlCircle,
    Narrator,
    TestButton,
    Audio
  },
  computed: {
    testButtonVisibility () {
      return this.$store.getters.getTestProgressButtonVisibility
    }
  }
}
</script>

<style lang='scss' scoped>

#test-phase {
  position: relative;
  height: 100%;
}

.test-control {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 50vh;
}

.test-narrator {
  position: absolute;
  bottom: 2rem;

  width: 100%;
  height: 18vh;
  // border: 5px solid red;
}

.test-button {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  z-index: 8;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
