<template>
  <div id="testControlCircle" class="control-circle-container" v-on:click='clickEvent' v-on:keypress.up="dupa" :class="{clickable : circleClickable}">
    <div v-if="icon" class="circle-icon">
      <transition name="fadeIcon" mode="out-in">
        <div v-if="icon == 'dots'" class="pulse-container">
          <div class="pulse-bubble pulse-bubble-1"/><div class="pulse-bubble pulse-bubble-2"/><div class="pulse-bubble pulse-bubble-3"/>
        </div>
        <img v-if="icon != 'dots'" :src="require('@/assets/test/controlCircle/' + icon)" :key="icon" :class="icon == 'HeadphonesColour.svg' ? 'iconanim' : ''" alt="">
      </transition>
    </div>
    <div class="border" :class="{focusanim : focusAnimation}">
      <div v-if="borderAnimation" class="border-animation-container">
        <div></div><div></div><div></div><div></div>
      </div>
      <div v-if="!borderAnimation" class="border-container">
        <div></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ControlCircle',
  mounted: function () {
    document.addEventListener('keypress', this.keyPressEvent)
  },
  beforeDestroy: function () {
    document.removeEventListener('keypress', this.keyPressEvent)
  },
  data: function () {
    return {
      debounceClickable: true
    }
  },
  computed: {
    icon () {
      return this.$store.getters.getTestControlCircleData['icon']
    },
    borderAnimation () {
      return this.$store.getters.getTestControlCircleData['borderAnimation']
    },
    focusAnimation () {
      return this.$store.getters.getTestControlCircleData['focusAnimation']
    },
    circleClickable () {
      return this.$store.getters.getTestControlCircleData['clickable']
    },
    currentStep () {
      return this.$store.getters.getTestStep
    }
  },
  methods: {
    keyPressEvent () {
      if (event.code === 'Space') {
        if (this.debounceClickable === true) {
          this.debounceClickable = false
          this.controlMethod()
        }
      }
    },
    clickEvent () {
      if (this.circleClickable === true && this.debounceClickable === true) {
        this.debounceClickable = false
        this.controlMethod()
      }
    },
    controlMethod () {
      //* METHOD TO CALL FOR ACTIONS!!!
      let delay = 0

      if (this.currentStep === 5) {
        // Call for audio interrupt
        this.$store.dispatch('userInterrupt')
        // Change CC icon
        this.$store.dispatch('changeTemporaryDuringTestIcon')
        delay = 2500
      } else if (this.currentStep === 4) {
        // Create context for test oscillator
        this.$store.dispatch('allowTestPlayAudio')
        this.$store.dispatch('incStepTest')
        delay = 800
      } else {
        this.$store.dispatch('incStepTest')
        delay = 800
      }

      setTimeout(() => { this.debounceClickable = true }, delay)
    }
  }
}
</script>

<style lang="scss" scoped>

$main-color-primary: #2F80ED;
$main-color-secondary: #27C7EF;
$main-color-tetriary: #FFFFFF;

$border-thickness: 1rem;

$focus-circle-animation-time: 1.4s;
$focus-icon-animation-time: .7s;
$border-animation-time: 2s;

.circle-icon {
  position: absolute;
  // bottom: 0;

  // margin-bottom: 6rem;

  & > img {
    height: 19rem;
    border-radius: 50%;
  }
}

.border {
  // position: relative;

  width: 31rem;
  height: 31rem;

  & .border-container{
    & div{
    position: absolute;
    width: 29rem;
    height: 29rem;

    border: $border-thickness solid #FFFFFF;
    border-radius: 50%;
    }
  }

  .border-animation-container {
    & div{
      position: absolute;
      width: 29rem;
      height: 29rem;

      border: $border-thickness solid $main-color-tetriary;
      border-radius: 50%;

      animation: spin $border-animation-time cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

.pulse-container {
  width: 18.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pulse-bubble {
    width: 3.1rem;
    height: 3.1rem;

    margin: 1.2rem;

    border-radius: 50%;
    background-color: #FFFFFF;
  }

  .pulse-bubble-1 {
    animation: pulse .6s ease 0s infinite alternate;
  }
  .pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
  }
  .pulse-bubble-3 {
    animation: pulse .8s ease .4s infinite alternate;
  }
}

.clickable {
  cursor: pointer;
}

.focusanim {
  border-radius: 50%;
  animation: focus-pop $focus-circle-animation-time ease-out infinite
}

.iconanim{
  border-radius: 50%;
  animation: focus-icon $focus-icon-animation-time ease-out infinite
}

.fadeIcon-enter-active,
.fadeIcon-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fadeIcon-enter,
.fadeIcon-leave-active {
  opacity: 0;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes focus-pop {
  0% {
    // background-color: rgba(255, 255, 255, .5);;
    box-shadow: 0 0 .5rem 0 rgba(255, 255, 255, 0.7);
  }
  80% {
    background-color: none;
    box-shadow: 0px 0px 1rem 6rem rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

@keyframes focus-icon {
  0% {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 0 0 .5rem 0 rgba(255, 255, 255, 0.4);
  }
  99% {
    background-color: rgba(255, 255, 255, 0);;
    box-shadow: 0px 0px 1rem 6rem rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1.5);
  }
  to {
    opacity: .25;
    transform: scale(.8);
  }
}

</style>
