<template>
  <div id="narrator-container">
    <transition name="fade" mode="out-in" tag="h2">
      <div class="main-title" :key="headings[0]">
        <h2 v-html="headings[0]"></h2>
        <h2 v-html="headings[1]"></h2>
        <h2 v-html="headings[2]"></h2>
      </div>
    </transition>
    <transition name="fade" mode="out-in">
      <div v-if="isTestSubtitles" class="sub-title">
        <p>W trakcie testu będzie wiele prób - możesz zamknąć oczy</p>
        <p>i skupić się na słuchaniu</p>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Narrator',
  computed: {
    headings () {
      return this.$store.getters.getTestNarratorData
    },
    isTestSubtitles () {
      return this.$store.getters.checkTestNarratorSubtitles
    }
  }
}
</script>

<style lang="scss" scoped>

.main-title {
  margin-bottom: 2rem;
  margin: 0;

  h2 {
    font-size: 27px;
    font-weight: 200;

    margin: 0;

    b {
      font-weight: 800;
    }
  }
}

.sub-title {
  margin-top: 50px;

  p {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 200;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.25s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

</style>
