<template>
    <div v-if="true" class="button-container" v-on:click="goNextStep">
      <button class="button" :class="animationType == true ? 'animate-constant' : 'animate-once'"><b>DALEJ</b></button>
    </div>
</template>
<script>

export default {
  name: 'TestButton',
  props: ['animate'],
  data: function () {
    return {
      clickability: true
    }
  },
  computed: {
    animationType () {
      if (this.animate === 'infinite') {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    goNextStep () {
      if (this.clickability === true) {
        this.clickability = false
        this.$store.dispatch('incStepTest')
      }
      setTimeout(() => {
        this.clickability = true
      }, 800)
    }
  }
}
</script>

<style lang="scss" scoped>
$color-primary: #FFDA00;
$color-secondary: #FDA430;
$color-tetriary: #FFFFFF;
$background-color: linear-gradient(90deg, $color-secondary 0%, $color-primary 100%);
$animation-time: 1.6s;
$animation-delay: 3s;

.button {
  padding: 1.5rem 3.8rem 1.5rem 3.8rem;
  background: $background-color;
  border-radius: 4rem;
  border: 0;

  color: $color-tetriary;
  font-size: 20px;
  text-align: center;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.animate-constant {
  animation: animate $animation-time $animation-delay ease-out infinite;
}

.animate-once {
  animation: animate $animation-time ease-out 4;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 .5rem 0 rgba(255, 255, 255, 0.7);
  }
  80% {
    box-shadow: 0px 0px 1rem 3rem rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
  }
}
</style>
