<template>
    <div id="whyUs">
      <div class="panel">
        <CardPrimary typeName="home" class="first"></CardPrimary>
        <CardPrimary typeName="data"></CardPrimary>
        <CardPrimary typeName="visibility"></CardPrimary>
        <CardPrimary typeName="doctore" class="default"></CardPrimary>
        <CardPrimary typeName="science"></CardPrimary>
        <CardPrimary typeName="time"></CardPrimary>
        <CardPrimary typeName="money" class="last"></CardPrimary>
      </div>
    </div>
</template>

<script>
import CardPrimary from '@/components/Home/Additional/Card-Primary.vue'

export default {
  name: 'WhyThisTest',
  components: {
    CardPrimary
  }
}
</script>

<style lang="scss" scoped>

$color-secondary: #27C7EF;

#whyUs {
  position: relative;

  max-height: 55rem;
  background: $color-secondary;

  padding-top: 10rem;
  padding-bottom: 10rem;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &:not(:hover) {
    .default{
      // opacity: 1;
      margin: 0 8rem 0 8rem;
      transform: scale(1.7);
    }
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first {
  margin-left: 0px;
  &:hover {
    margin-left: 36rem;
  }
}

.last {
  margin-right: 0px;
  &:hover {
    margin-right: 64rem;
  }
}

@keyframes cardSlide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
    transform: translateX(16rem);
  }
}

</style>
