<template>
  <div id="steps">
    <div class="title">
      <h1>Test w 3 krokach</h1>
    </div>
    <HomeStepperHorizontal id="stepper-hor" clickable='True' module='Home' />
    <div class="carousel">
      <div class="arrow--left" v-on:click="increment('left')">
        <img :src="require('@/assets/home/nawigacja/arrow-left.svg')" class="btn-navi">
      </div>
      <div id="fader">
        <transition name="fade" mode="out-in">
          <HomeStepperContent v-if="currentStep == 1" contentName="firstStep" key="first" rel="preload" />
          <HomeStepperContent v-if="currentStep == 2" contentName="secondStep" key="second" rel="preload" />
          <HomeStepperContent v-if="currentStep == 3" contentName="thirdStep" key="third" rel="preload" />
        </transition>
      </div>
      <div class="arrow--right" v-on:click="increment('right')">
        <img :src="require('@/assets/home/nawigacja/arrow-right.svg')" class="btn-navi">
      </div>
    </div>

  </div>
</template>

<script>
import HomeStepperHorizontal from '@/components/Home/Additional/HomeStepper-Horizontal.vue'
import HomeStepperContent from '@/components/Home/Additional/HomeStepperContent.vue'

export default {
  name: 'ThreeSteps',
  components: {
    HomeStepperHorizontal,
    HomeStepperContent
  },
  methods: {
    increment (way) {
      if (way === 'left') {
        this.$store.dispatch('decStepHome')
      } else if (way === 'right') {
        this.$store.dispatch('incStepHome')
      } else {
        this.$store.dispatch('changeStepHome', 1)
      }
    }
  },
  computed: {
    currentStep () {
      return this.$store.getters.getHomeCarouselInfo['step']
    }
  }
}
</script>

<style lang="scss" scoped>
$color-bg: #27C7EF;

#steps {
  background: $color-bg;
  position: relative;
  max-height: 100vh;

  padding-top: 4rem;
  padding-bottom: 4rem;

  .title{
    margin: 0rem 0 5rem 0;

    h1{
      font-size: 5.7rem;
      margin: 5rem 0 7rem 0;
    }
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem 0 2rem;

  }
}

#stepper-hor {
  width: 120rem;
  margin: auto;
}

.btn-navi {
  margin: 2rem;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>
