<template>
<div class="container">
    <div class="foot-column">
      <h2 class="foot-title">Konktakt</h2>
      <ul class="foot-element">
        <li><router-link class="navElement" to="/">Dane kontaktowe</router-link></li>
      </ul>
    </div>
    <div class="foot-column">
      <h2 class="foot-title">Mapa strony</h2>
      <ul class="foot-element">
        <li><router-link class="navElement" to="/">Home</router-link></li>
        <li><router-link class="navElement" to="/test">Test</router-link></li>
        <li><router-link class="navElement" to="/simulation">Symulacja</router-link></li>
        </ul>
    </div>
    <div class="foot-column">
      <h2 class="foot-title">Informacja o projekcie</h2>
      <ul class="foot-element">
        <li><router-link class="navElement" to="/">Polityka prywatności i regulamin</router-link></li>
      </ul>
    </div>
    <div class="foot-column">
      <h2 class="foot-title">Copyright</h2>
      <p class="foot-element">Copyright 2019 Piotr Petrycki dla Wydziału Informatyki, Elektroniki i Telekomunikacji Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie</p>
    </div>
</div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style lang="scss" scoped>

$color-background: #27C7EF;

.container {
  background: $color-background;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

ul {
  text-align: left;
  list-style: none;
  padding-left: 0;

  a {
    color: #fff;
    // font-size: 2vh;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.foot-column {
  text-align: left;
  padding: 1.25rem;
  min-width: 12.5rem;
  max-width: 25vw;

  .foot-element {
    font-size: 1.7rem;
  }
}

.foot-title {
  text-align: left;
  color: #fff;
  font-size: 3.5rem;
  padding-bottom: 0.625rem;
}
</style>
