<template>
  <div id="app">
    <div id="nav" class="clearfix">
      <div class="logo">
        <router-link class="navElement" to="/">
          <img id="logo" :src="require('@/assets/logohead.svg')">
        </router-link>
      </div>
      <div class="navigator">
        <router-link class="navElement" to="/">Home</router-link> |
        <router-link class="navElement" to="/test">Test</router-link> |
        <router-link class="navElement" to="/simulation">Symulacja</router-link>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>
export default {
  logoUrl () {
    return require('./assets/logo.svg')
  }
}
</script>

<style lang="scss">

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,600|Oxygen&display=swap);

$navbar-bg-color: #FFFFFF;

$font-color: #2F80ED;

$name-height: 32px;
$text-height: 18px;
$line-height: 46px;

$main-color-primary: #2F80ED;
$main-color-secondar: #27C7EF;

html {
  font-size: 65% !important;
}

body {
  margin: 0;
}

h1 {
  font-size: 7.3rem;
  font-family: 'Oxygen';
}

h2, h3, h4 {
  // font-size: 2.3rem;
  font-family: 'Fira Sans';
  font-weight: 400;
}

p{
  font-family: 'Oxygen';
}

#app {
  font-family: 'Fira Sans' , 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFFFFF;

  // background-color: $main-color-primary;
  .fade-enter-active,
  .fade-leave-active {
    transition-duration: .4s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
}

#nav {
  // margin: 2em;
  padding: 1em;
  background-color: $navbar-bg-color;

  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;

  .logo {
    float: left;
    margin-left: 10rem;
  }

  .navigator{
    float: right;
    margin-right: 10rem;

    .navElement {
      line-height: $line-height;
      margin-left: 1.5rem;
      margin-right: 1.5rem;

      &.router-link-exact-active {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  #appName {
    line-height: $line-height;
    font-size: $name-height;
    margin: 0px;
  }

  a {
    font-weight: normal;
    font-size: $text-height;
    color: $font-color;
    text-decoration: none;
  }
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

#logo {
  height: 4rem;
}
</style>
